body {  
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;  
    line-height: 1.6;  
    margin: 20px;  
    padding: 0px;  
    background-color: #212529; 
    color: #FFFFFF;
    width:800px;
    height:1000px;

}  

h1 {  
    color: #28A745; 
    text-align: center; 
    font-size: 2.5em; 
    margin-bottom: 10px; 
}  

h2, h3 {  
    color: #007BFF;
    border-bottom: 2px solid #28A745; 
    padding-bottom: 5px; 

}  

ul {  
    list-style-type: none;  
    padding: 0;  
}  

header {  
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 20px;  
    border: 2px solid #28A745;
    text-align: center; 
    background-color: #343A40; /
    padding: 15px; 
}  

section {  
    display: flex; 
    flex-direction: column; 
    margin-bottom: 20px;  
    padding: 15px;  
    border: 1px solid #28A745;
}  

a {  
    color: #d9ff00; 
    text-decoration: none; /
}  

 

footer {  
    text-align: center;  
    margin-top: 20px;
    padding: 10px; 
    border-radius: 8px;
    color: #FFFFFF; /

p {  
    margin: 10px 0; 
}  

.contact-list {  
    display: flex;  
    flex-direction: column; /
    align-items: flex-start; 
}  

.contact-item {  
    margin: 5px 0;  
} 