body {
    font-family: Arial, sans-serif;
    background-color: #f1f8ff;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #ff6600;
    margin-bottom: 10px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    color: #009933;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #6666ff;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

#experiencia {
    border-top: 2px solid #ff6600;
    padding-top: 20px;
}

#comunicacion {
    border-top: 2px solid #009933;
    padding-top: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f1f8ff;
    color: #333;
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(to bottom, #ffffff, #f1f8ff); /* Cambiar gradiente de color de fondo */
}